<h1>Lists</h1>
<hr>
<div class="container" id="content">

  <% @lists.each do |list| %>
    <%= link_to list.name, list %></br>
  <% end %>

<button class="btn btn-default btn-xs" style="float:right"><%= link_to 'New list', new_list_path(@list) %> </button>

</div>

